body {
	margin: 0 10px 10px 10px;
	padding: 0;
	font-family: 'Arial', serif;
	background-image: url("img/background.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#product_content {
	margin-left: 480px;
	margin-top: 200px;
}

#video_content {
	margin-left: 480px;
	margin-top: 200px;
	width: auto;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
    position: relative
}

.nav {
	background-image: url("img/banner.png");
	background-repeat: no-repeat;
	background-size: cover;
	border: 3px solid #dedede;
	min-width: 900px;
	max-width: 1880px;
	position: fixed;
	box-shadow: 5px 5px 2px #888888;
	height:170px;
	width:100%;
	list-style: none;
	text-align: right;
	margin: 0;
	padding: 0 0 5px 0;
	z-index: 1;
}

.nav > li {
	display: inline-block;
	padding: 95px 25px 0 25px;
	font-size: 12px;
	font-weight: bold;
}

.nav > li > a {
	text-decoration: none;
	color: #ffffff;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border: none;
	font: normal normal bold 24px/normal "atomic-age", Helvetica, sans-serif;
	color: black;
	text-align: center;
	-o-text-overflow: clip;
	text-overflow: clip;
	text-shadow: 1px 1px 0 rgb(77,162,252) , -1px -1px 0 rgb(77,162,252) , 1px -1px 0 rgb(77,162,252) , -1px 1px 0 rgb(77,162,252) , 4px 4px 8px rgb(44,88,137) , -4px 4px 8px rgb(44,88,137) , 4px -4px 8px rgb(44,88,137) , -4px -4px 8px rgb(44,88,137) ;
	-webkit-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
}

.nav > li > a:hover {
	color: #c1c1c1;
	font: normal normal bold 24px/normal "Atomic Age", Helvetica, sans-serif;
	text-shadow: 1px 1px 0 rgb(77,162,252) , -1px -1px 0 rgb(77,162,252) , 1px -1px 0 rgb(77,162,252) , -1px 1px 0 rgb(77,162,252) ;
	-webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.logo {
	color: #000000;
	float: left;
	margin-left: 20px;
	margin-top: 2px;
}

.logo-image {
height: 125px;
width: 250px;
}

.service1 {
	width: 298px;
	border: 1px solid #c1c1c1;
	margin: 20px 10px;
	padding: 0 5px;
	float: left;
}

.service1 > p {
	font-size: 14px;
	color: #636363;
	max-width: 250px;
}

.services {
	position: absolute;
	width: 72%;
	text-align: center-right;
	margin-left: calc(100%/3.2);
	z-index: -1;
}

h1 {
	font-size: 16px;
	font-weight: bold;
	background-color: #c1c1c1;
	color: #ffffff;
	padding: 10px 0;
	margin: 0 -6px;
}

.image {
	max-width: 200px;
	margin: 15px 0 0 0;
}

.image:hover {
	opacity: 0.8;
	max-width: 200px;
	margin-top: 15px;
}
.heading {
	text-align: center;
	font-size: 25px;
	color: #c2c2c2;
	margin-top: 100px; 
	margin-bottom: 10px;
	margin-left: calc(100%/4);
	width: 72%;
}

footer {
	clear: both;
	width: auto;
	height: 20px;
	padding:10px;
	border: 3px solid #E3E3E3;
	color: #fff;
	text-shadow: .1em .1em #333;
	background-image: linear-gradient(to top, blue, #f06d06);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: fixed;
	text-align:center;
}

#content_area {
	position: absolute;
	margin-top: 200px;
	margin-left: calc(100% / 4);
	padding: 10px;
	text-align: center;
	z-index: -1;
	font-size: 32px;
	font-family: CollegiateFLF;
	color: White;
}

@font-face { 
	font-family: CollegiateFLF; 
	src: url('fonts/CollegiateFLF.ttf'); 
} 


#sidebar {
	background-image: url("img/metallic.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	position: fixed;
	width: 320px;
	height: 575px;
	margin: 210px 0px 0 10px;
	padding: 10px;
	border: 2px solid #E3E3E3;
	text-align: center;
	border-image-source: url(metallic.png);
	font-family: Georgia, Serif;
}

.imgBottom {
	float: bottom;
	width: 265px;
	height: 245px;
	margin: 0 20px;
	padding: 10px;
}

.imgBottom2 {
	float: bottom;
	width: 275px;
	height: 175px;
	margin: 0 20px;
	border: 4px solid #E3E3E3;
}

.video {
	position: absolute;
	margin-top: 200px;
	margin-left: calc(100%/4);
	min-width: 72%;
	text-align: center;
	padding: 10px;
	z-index: -1;
}

h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}
h1.deepshadow {
  letter-spacing: .1em;
  text-shadow: 0 -1px 0 #ffffff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

h2 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}
h2.deepshadow {
  color: black;
  letter-spacing: .1em;
}

h3 {
    font-family: "Papyrus";
    color: white;
    font-size: 22px;
    text-align: left;
    margin-left: 5px;
}

h4 {
    font-family: "Papyrus";
    color: blue;
    font-size: 22px;
    text-align: left;
    margin-left: 5px;
	margin-right: 5px;
	width: 800px;
}

h5 {
    font-family: "Papyrus";
    color: black;
    font-size: 20px;
    text-align: center;
	margin-bottom: 0px;
}

p2 { 
    text-align: left;
    width: 800px;  word-wrap: break-word; 
    font-size: 18px;
    margin-left: 5px;
	font-family: "Trebuchet MS", Helvetica, sans-serif
}

p3 { 
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: Yellow;
    font-size: 22px;
    text-align: center;
    margin-left: 5px;
	width: auto;
}

#navcontainer ul
{
margin-left: 15px;
padding: 0;
text-align: left;
}

#navcontainer a
{
width: 9em;
padding: 3px 12px 3px 8px;
font-weight: bold;
}

#navcontainer li li a
{
width: 9em;
padding: 3px 3px 3px 17px;
font-weight: normal;
}

.images {
   border:5px solid #FFFFFF;
   background-color:#696969;
   float: right;
   height: 150px;
   margin-right: 50px;
   margin-top: -50px;
}

ul.a {
    list-style-type: circle;
}

b2 {
	color: red;
}
b3 {
	color: gold;
}
p {
	font-size: 16px;
}

a:visited{
  color:white;
}
a:hover{
  color:orange;
}

span.error {
	color:red;
}

.forms {
	margin-top: 200px;
	margin-left: 655px;
	width: 800px;
	text-align: left;
}

body,
input,
text,
button {
	font:1em Georgia;
}

form {
	margin-bottom: 20px;
}

input,
text {
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	display: block;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: 4px solid #E3E3E3;
  border-radius: 15px;
  box-shadow: 0 1px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

.scroll-left {
 height: 45px;	
 overflow: hidden;
 position: relative;
 background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
 background: rgba(204, 204, 204, 0.9);
 color: black;
 border-bottom: 1px solid blue;
}
.scroll-left p {
 white-space:nowrap;
 font-size: 18px;
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);
 -ms-transform:translateX(100%);  
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: scroll-left 65s linear infinite;
 -webkit-animation: scroll-left 65s linear infinite;
 -ms-animation: scroll-left 65s linear infinite;
 animation: scroll-left 65s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-326%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%);}
 100% { -webkit-transform: translateX(-326%); }
}
@-ms-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-326%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 -ms-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-326%); /* Browser bug fix */
 -webkit-transform: translateX(-326%); /* Browser bug fix */
 -ms-transform: translateX(-326%); /* Browser bug fix */
 transform: translateX(-326%); 
 }
}






